.buttons{
    width: 18%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}
.menu{
    width: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 18px;
}
.logout{
    width: 18%;
    padding-top: 40px;
    padding-left: 30px;
}